#######################################
# OS
#######################################
.DS_Store

#######################################
# Node
#######################################
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

#######################################
# Build Output
#######################################
dist/
build/
coverage/
.nyc_output/

#######################################
# TypeScript
#######################################
*.tsbuildinfo

#######################################
# Environment Variables
#######################################
.env
.env.*
!.env.example

#######################################
# CDK
#######################################
cdk.out/
.cdk.staging/

#######################################
# Logs
#######################################
logs/
*.log

#######################################
# IDE
#######################################
.vscode/
.idea/

#######################################
# Testing
#######################################
jest-report/